DATABASE_URI=postgresql://user:password@ep-xxxx.neon.tech/morin?sslmode=require
PAYLOAD_SECRET=change-me-32-chars-minimum
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SERVER_URL=http://localhost:3001
PORT=3001
